<div class="section valign-wrapper">
	<div class="container">
		<div class="row">
	        <div class="col s12 m9">
	          <div class="card blue darken-4">
	            <div class="card-content white-text">
	              <span class="card-title">Menú principal</span>
	              <p>Trabajo práctico LAB 4</p>
	            </div>
	            <div class="card-action">
	              <a ui-sref="pizzeria.inicio()">Pizzerias Argenta S.R.L.</a>
	              <a ui-sref="inmobiliaria.inicio()">Inmobiliarias El Campito S.A.</a>
	            </div>
	          </div>
	        </div>
      </div>
	</div>
</div>