<div class="section valign-wrapper yellow">
	<div class="container">
		<form class="col s12 m6">
				<div class="title"><h3>Ingrese sus datos</h3></div>
			  <div class="row">
			    <div class="input-field col s12 m6">
			      <input id="usuario" ng-model="usuario.username" type="text" class="validate">
			      <label for="usuario">Usuario</label>
			    </div>
			  </div>
			  <div class="row">
			    <div class="input-field col s12 m6">
			      <input id="password" ng-model="usuario.password" type="password" class="validate">
			      <label for="password">Contraseña</label>
			    </div>
			  </div>
			  <button class="btn waves-effect waves-light" type="submit" name="action">Ingresar
    			<i class="material-icons right">input</i>
  			  </button>
		</form>
	</div>
</div>