<div class="section valign-wrapper">
    <div class="container">
        <form class="col s12 m6" name="FormPedido" enctype="multipart/form-data" novalidate>
            <div class="title">
				<h3>Haga su pedido</h3>
			</div>
            <div class="divider"></div>
            <div class="section">
                <div class="row">
                    
                </div>
                <div class="row">
                    <div class="input-field col s12 m6">
                        <label for="timepicker_ampm_dark">Horario de entrega</label>
                        <input id="timepicker_ampm_dark" class="timepicker" type="time" ng-model="pedido.hora">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>