<div class="section valign-wrapper">
	<div class="container">
		<div class="row">
			<div class="card medium">
				<div class="card-image waves-effect waves-block waves-light">
					<img class="activator" src="images/pizzaCard.jpg" />
				</div>
				<div class="card-content">
					<span class="card-title activator grey-text text-darken-4">Las Mejores Pizzas de Avellaneda</span>
				</div>
				<div class="card-reveal">
					<span class="card-title grey-text text-darken-4">Calidad inigualable, tradición italiana<i class="material-icons right">close</i></span>
					<p>Para realizar su pedido, puede registrarse gratuitamente haciendo <a ui-sref="pizzeria.cliente()">click aquí</a>.</p>
				</div>
			</div>
		</div>
	</div>
</div>