<nav class="light-blue lighten-1" role="navigation">
  <div class="nav-wrapper container"><a id="logo-container" ui-sref="pizzeria.inicio" class="brand-logo">Pizzeria Argenta SRL</a>
    <ul class="right hide-on-med-and-down">
      <li ng-if="!isAuthenticated()"><a ng-click="Ingresar()"><i class="material-icons left">input</i>Ingresar</a></li>
      <li ng-if="!isCliente() || !isAuthenticated()"><a ng-click="Registro()"><i class="material-icons left">person_pin</i>Registro</a></li>
      <li ng-if="isAdmin() || isEncagado() || isEmpleado()"><a ng-click="Usuarios()"><i class="material-icons left">recent_actors</i>Usuarios</a></li>
      <li ng-if="isAuthenticated()"><a ng-click="logout()"><i class="material-icons left">lock</i>Salir</a></li>
    </ul>

    <ul id="nav-mobile" class="side-nav">
      <li ng-if="!isAuthenticated()"><a ng-click="Ingresar()"ui-sref="pizzeria.login()">Ingresar</a></li>
      <li><a ng-click="Registro()">Registro</a></li>
      <li ng-if="isAdmin() || isEncagado() || isEmpleado()"><a ng-click="Usuarios()">Usuarios</a></li>
      <li ng-if="isAuthenticated()"><a ng-click="logout()">Salir</a></li>
    </ul>
    <a data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>


<div ui-view name="contenido">

</div>



<footer class="page-footer light-blue darken-1">
  <div class="container">
    <div class="row">
      <div class="col l1 s1"></div>
      <div class="col l3 s11">
        <h5 class="white-text">Contactenos</h5>
        <ul>
          <li><a class="white-text" target="_blank" href="http://www.utnfravirtual.org.ar/">UTN</a></li>
          <li><a class="white-text" href="#!">Reportar Error</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    Made by <a class="orange-text text-lighten-3" href="mailto:leonardogferreyra@gmail.com">Leonardo Ferreyra</a>
    </div>
  </div>
</footer>