<div class="section valign-wrapper">
    <div class="container">
        <form class="col s12 m6" name="FormPedido" enctype="multipart/form-data" novalidate>
            <div class="title">
                <h3>Haga su pedido</h3>
            </div>
            <div class="divider"></div>
            <div class="section">
                <div class="row">
                    <div class="input-field col s12 m6">
                        <select ng-model="pedido.pizza" class="validate">
      						<option value="" disabled selected>Selecione una opción</option>
      						<option value="{{pizza}}" ng-repeat="pizza in listaPizzas">{{pizza.nombre}} ${{pizza.pgrande}}</option>
    					</select>
                        <label>Pizza</label>
                    </div>
                    <div class="input-field col s2 m1">
                        <input id="cantidad" type="number" class="validate" ng-model="pedido.cantidad" min="1">
                        <label for="cantidad">Cantidad</label>
                    </div>
                    <div class="input-field col s4 m2">
                        <a class="waves-effect waves-light green lighten-1 btn" ng-click="agregarDetalle(pedido.pizza, pedido.cantidad)">Agregar</a>
                    </div>
                </div>
                <div class="row">
                    <table class="highlight">
                        <thead>
                            <tr>
                                <th data-field="nombre">Nombre</th>
                                <th data-field="descripcion">Descripcion</th>
                                <th data-field="cantidad">Cantidad</th>
                                <th data-field="precio unitario">Precio Unitario</th>
                                <th data-field="precio">Precio</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr ng-repeat="detalle in listaDetalle">
                                <td>{{detalle.nombre}}</td>
                                <td>{{detalle.descripcion}}</td>
                                <td>{{detalle.cantidad}}</td>
                                <td>{{detalle.precioUnitario}}</td>
                                <td>{{detalle.precio}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="input-field col s6 m6">
                        <label for="timepicker_ampm_dark">Horario de entrega</label>
                        <input id="timepicker_ampm_dark" class="timepicker" type="time" ng-model="pedido.hora">
                    </div>
                    <div class="input-field col s6 m6">
                        <input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" ng-model="pedido.isHome"/>
                        <label for="filled-in-box">A su domicilo?</label>
                    </div>
                </div>
                <div class="section" ng-if="!pedido.isHome">
			  		<div class="row">
			  			<div class="input-field col s12 m6">
					      	<input id="partido" ng-model="pedido.partido" type="text" class="validate" required/>
					      	<label for="partido">Partido</label>
					    </div>
					    <div class="input-field col s12 m6">
					      	<input id="localidad" ng-model="pedido.localidad" type="text" class="validate" required/>
					      	<label for="localidad">Localidad</label>
					    </div>	
			  		</div>
			  		<div class="row">
			  			<div class="input-field col s12 m8">
					      	<input id="direccion" ng-model="pedido.direccion" type="text" class="validate" required/>
					      	<label for="direccion">Dirección</label>
					    </div>
					    <div class="input-field col s6 m2">
					      	<input id="numero" ng-model="pedido.numero" type="text" class="validate" required/>
					      	<label for="numero">Número</label>
					    </div>
					    <div class="input-field col s6 m2">
					      	<input id="departamento" ng-model="pedido.departamento" type="text" class="validate" required/>
					      	<label for="departamento">Departamento</label>
					    </div>	
			  		</div>
			  	</div>
            </div>
        </form>
    </div>
</div>