<div class="section valign-wrapper">
	<div class="container">
		<form class="col s12 m6" name="FormRegistro"  enctype="multipart/form-data" novalidate>
			<div class="title"><h3>Registro</h3></div>
			<br>
			<div class="title"><h5>Datos Personales</h5></div>
			<div class="divider"></div>
		  	<div class="section">
		  		<div class="row">
					<div class="input-field col s12 m6">
				      	<input id="nombre" ng-model="usuario.nombre" type="text" class="validate" required/>
				      	<label for="nombre">Nombre</label>
				    </div>
				    <div class="input-field col s12 m6">
				      	<input id="apellido" ng-model="usuario.apellido" value="" type="text" class="validate" required/>
				      	<label for="apellido">Apellido</label>
				    </div>
				</div>
			  	<div class="row">
				    <div class="input-field col s12 m6">
				      	<input id="username" ng-model="usuario.username" type="text" class="validate" required/>
				      	<label for="username">Nombre de usuario</label>
				    </div>
				    <div class="input-field col s12 m6">
				      	<input id="password" ng-model="usuario.password" type="password" class="validate" required/>
				      	<label for="password">Contraseña</label>
				    </div>
			  	</div>
			  	<div class="row">
					<div class="input-field col s12 m6">
						<div ng-show="uploader.isHTML5">
						    <!-- Example: nv-file-drop="" uploader="{Object}" options="{Object}" filters="{String}" -->
						    <!-- <div nv-file-drop="" uploader="uploader">
						        <div nv-file-over="" uploader="uploader" over-class="another-file-over-class">
						            <input type="file" nv-file-select uploader="uploader" class="btn btn-primary" required/><br/>
						        </div>
						    </div> -->
						    <div class="file-field input-field" nv-file-drop="" uploader="uploader">
	  							<div class="btn green" nv-file-over="" uploader="uploader" over-class="another-file-over-class">
	    							<span>Foto</span>
	    							<input type="file" nv-file-select uploader="uploader" ng-model="file"/>
	  							</div>
	  							<div class="file-path-wrapper">
	    							<input class="file-path validate" type="text" ng-model="path">
	  							</div>
							</div>
						</div>	
					</div>
					<div class="input-field col s12 m6">
						<ul>
							<!-- Muestro los datos de los archivos a cargar -->
					        <li ng-repeat="item in uploader.queue">
					        	<!-- nombre del archivo -->
					            <!-- imagen del archivo -->
					            <div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 100 }"></div>
					            <!-- boton upload. Lo puedo usar para carar las fotos o crear
					            	mi propia funcion y llamar a uploader.uploadAll() -->
					            <!-- <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
					                <span class="glyphicon glyphicon-upload"></span> Upload
					            </button> -->

					            <!-- boton remove -->
					            <button type="button" class="btn btn-danger btn-xs red" ng-click="quitar()">
					                <span class="glyphicon glyphicon-trash"></span> Quitar
					            </button>
					        </li>		
					    </ul>						
					</div>
		  		</div>
			  	<div class="row" ng-if="true">
			  		<div class="input-field col s12 m6">
    					<select ng-model="usuario.perfil" class="validate" required>
      						<option value="" disabled selected>Selecione una opción</option>
      						<option value="cliente">Cliente</option>
      						<option value="empleado" ng-if="true">Empleado</option>
      						<option value="encargado" ng-if="true">Encargado</option>
    					</select>
    					<label>Perfil</label>
  					</div>
			  	</div>
			  	<div class="row">
				    <div class="input-field col s12 m6">
				      	<input id="nrodoc" ng-model="usuario.nrodoc" type="text" class="validate" maxlength="10" required/>
				      	<label for="nrodoc">Número de documento</label>
				    </div>
				    <div class="input-field col s12 m6" ng-if="usuario.perfil == 'empleado' || usuario.perfil == 'encargado'">
				      	<input id="cuil" ng-model="usuario.cuil" type="text" class="validate" maxlength="13" required/>
				      	<label for="cuil">CUIL</label>
				    </div>
			  	</div>
			  	<div class="row">
				    <div class="input-field col s12 m6">
				    	<label>Fecha de nacimiento</label>
				    	<br/><br/>
				      	<input id="fecha" ng-model="usuario.fecha" type="date" class="datepicker validate" required/>
				    </div>
			  	</div>
			  	<div class="row">
				    <div class="input-field col s12 m6">
				      	<input id="email" ng-model="usuario.email" type="email" class="validate" required/>
				      	<label for="email">Correo electrónico</label>
				    </div>
			  	</div>
			  	<div class="section" ng-if="usuario.perfil == 'cliente'">
			  		<div class="row">
			  			<div class="input-field col s12 m6">
					      	<input id="partido" ng-model="usuario.partido" type="text" class="validate" required/>
					      	<label for="partido">Partido</label>
					    </div>
					    <div class="input-field col s12 m6">
					      	<input id="localidad" ng-model="usuario.localidad" type="text" class="validate" required/>
					      	<label for="localidad">Localidad</label>
					    </div>	
			  		</div>
			  		<div class="row">
			  			<div class="input-field col s12 m8">
					      	<input id="direccion" ng-model="usuario.direccion" type="text" class="validate" required/>
					      	<label for="direccion">Dirección</label>
					    </div>
					    <div class="input-field col s6 m2">
					      	<input id="numero" ng-model="usuario.numero" type="text" class="validate" required/>
					      	<label for="numero">Número</label>
					    </div>
					    <div class="input-field col s6 m2">
					      	<input id="departamento" ng-model="usuario.departamento" type="text" class="validate" required/>
					      	<label for="departamento">Departamento</label>
					    </div>	
			  		</div>
			  	</div>
		  	</div>

		  	<button class="btn waves-effect waves-light green" type="submit" name="action" ng-click="guardar()" ng-disabled="FormRegistro.$invalid">Registrarse
				<i class="material-icons right">input</i>
			</button>

			<button class="btn waves-effect waves-light green" type="submit" name="action" ng-click="probar()" >probar
				<i class="material-icons right">input</i>
			</button>

			<div id="popup" class="modal">
				<div class="modal-content">
					<h4>Usuario registrado exitosamente!</h4>
					<p>Para loguearse al sistema, ingrese con sus datos:</p>
					<p>Nombre de usuario: {{usuario.username}}</p>
					<p>Contraseña: {{usuario.password}}</p>
				</div>
				<div class="modal-footer">
					<a ui-sref="pizzeria.inicio()" class=" modal-action modal-close waves-effect waves-green btn-flat">Aceptar</a>
				</div>
			</div>

		</form>
	</div>
</div>