<nav class="light-blue lighten-1" role="navigation">
  <div class="nav-wrapper container"><a id="logo-container" ui-sref="pizzeria.inicio" class="brand-logo">Pizzeria Argenta SRL</a>
    <ul class="right hide-on-med-and-down">
      <li><a ui-sref="pizzeria.login()"><i class="material-icons left">input</i>Ingresar</a></li>
      <li><a href="#"><i class="material-icons left">person_pin</i>Registrarse</a></li>
      <li><a href="#">Portal</a></li>
    </ul>

    <ul id="nav-mobile" class="side-nav">
      <li><a href="#">Ingresar</a></li>
      <li><a href="#">Registrarse</a></li>
    </ul>
    <a data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>



<div ui-view name="contenido">

</div>



<footer class="page-footer light-blue darken-1">
  <div class="container">
    <div class="row">
      <div class="col l3 s12">
        <h5 class="white-text">Settings</h5>
        <ul>
          <li><a class="white-text" href="#!">Link 1</a></li>
          <li><a class="white-text" href="#!">Link 2</a></li>
          <li><a class="white-text" href="#!">Link 3</a></li>
          <li><a class="white-text" href="#!">Link 4</a></li>
        </ul>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Connect</h5>
        <ul>
          <li><a class="white-text" href="#!">Link 1</a></li>
          <li><a class="white-text" href="#!">Link 2</a></li>
          <li><a class="white-text" href="#!">Link 3</a></li>
          <li><a class="white-text" href="#!">Link 4</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    Made by <a class="orange-text text-lighten-3" href="mailto:leonardogferreyra@gmail.com">Leonardo Ferreyra</a>
    </div>
  </div>
</footer>